# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled class file
*.class

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
target/
logs/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Gradle ###
.gradle/

### Maven ###
.settings/
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
buildNumber.properties

### Lombok ###
*.lombok.config

### Node / Angular ###
**/node_modules/
**/.angular/cache/
**/.angular/config.json
**/dist/
**/.npm/
**/.env
**/.env.local
**/coverage/
**/.turbo/

### Environment Files ###
.env
.env.*.local
*.local

### IDE Backups / Metadata ###
*.swp
*.bak
*.tmp
*.orig

#### Others ###
*.lock
package-lock.json
pnpm-lock.yaml
yarn.lock
