:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

router-outlet {
  display: block;
  width: 100%;
}

.main-content {
  flex: 1;
  position: relative;
  z-index: 1;
}
